extends layout

block content
    
    h1.text-center #{title}
        h3.text-center Service where you can share interesting news for you
    
    div
        ul.list-group
            each post, i in posts 
                li
                    hr
                    //a(href='/post/'+post._id)= post.title
                    h4 #{post.title}  ▪ by 
                        span.label.label-primary #{post.author}
                    
                    br
                    
                    img.img-responsive.img-sm(src=post.img_url)
                    br
                    span(class="pull-left")=moment(post.created).format("DD.MM.YYYY HH:mm") 
                    span.pull-right Share: news-hubr.herokuapp.com/post/#{post._id}
                    
                    br
        div(style="text-align:center;")
            nav(aria-label='Page navigation')
              ul.pagination
                - for (var i = 0; i < pages; i++)
                    li
                        a(href='/?page='+i)=i+1
    
